---
layout: default
---

<div class="home">

  <h1 class="page-heading">Recent posts</h1>

  <ul class="post-list">

    {% comment %}
      Copyright 2020 ITlernpfad
      Copyright 2017 Marcelo Canina (marcanuy)
      See https://stackoverflow.com/questions/45588558/liquid-filter-collection-where-not-null
    {% endcomment %}
    {% assign navposts = ''|split:'' %}
    {% for post in site.posts %}
    {% if post.title %}
    {% assign navposts = navposts|push:post %}
    {% endif %}
    {% endfor %}

    {% for post in navposts limit:10 %}
      {% if post.title %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  
  <p><a href="https://itlernpfad.gitlab.io/categories">more</a></p>

</div>
