<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col footer-col-3">
        <ul class="contact-list">
          <li>{{ site.copyright_statement }}</li>
          <li><a href={{ site.contact }}>Contact ITlernpfad</a></li>
          <li><a href={{ https://www.paypal.com/donate/?hosted_button_id=TNGG65GVA9UHE }}>Donate</a></li>
        </ul>        
      </div>

    </div>

  </div>

</footer>
