---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>
  
  <div class="page-related">
    {% comment %}
      Copyright 2020 - 2021 ITlernpfad
      Based on:
        https://kylewbanks.com/blog/creating-category-pages-in-jekyll-without-plugins
        Copyright 2016 Kyle Banks
    {% endcomment %}
    {% assign tagz = page.tags %}
    {% assign categoriez = page.categories %}
    {% if categoriez %}
      <div class="this-category">
        <h3>Related posts: </h3>
        <ul>
        {% for entry in site.categories[categoriez] %}
          <li>
            <a href="{{ entry.url }}">{{ entry.title }}</a>
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}
  </div>
  
</article>
