---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ page.date | date: "%Y-%m-%d" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">Copyright {{ page.date | date: "%Y" }} {{ page.author }}</span></span>{% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

    <div class="this-cat">
    <h3>Related posts:</h3>
    {% assign firstCategory = page.categories | first %}
    {% assign relatedCount = 0 %}
    <ul>
    {% for related in site.categories[firstCategory] %}
        {% unless page.permalink == related.permalink %}
            {% assign relatedCount = relatedCount | plus: 1 %}
            <li>
              <a href="{{related.permalink}}">{{ related.title }}</a>
            </li>
        {% endunless %}

        {% if relatedCount == 5 %}
            {% break %}
        {% endif %}
    {% endfor %}
    </ul>
    </div>

</article>
